
.App {
    height: 100vh;
    width: 100vw;
    background-color: rgb(40, 35, 35);
}

.header-app {
    height: 50px;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(148 38 38 / 33%);
}

.logo {
    height: auto;
    width: 100px;
    background-image: url('./assets/Marvel_Logo.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

