

html {
    height: 100vh;
    width: 100%;
    background-color: rgb(40, 35, 35);
}

.header-app {
    height: 50px;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(148 38 38 / 33%);
}

.logo {
    height: auto;
    width: 100px;
    background-image: url('./assets/Marvel_Logo.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.cards {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-item {
    width: 450px;
    height: 200px;
    margin: 10px;
    display: flex;
    justify-items: stretch;
    text-align: center;
    color: aliceblue;
    border-radius: 10px;
    font-family: 'Bangers', cursive;
    letter-spacing: 3px;
    background-color: rgba(110, 31, 31, 0.612);
}

h2 {
    margin-top: 35px;
}

img {
    width: 50%;
    border-radius: 10px;
}



@media only screen and (min-width: 1025px)  {
    body {
        overflow-y: hidden;
    }
}

@media only screen and (max-width: 770px)  {
    .card-item {
        display: none;
    }

    .cards {
        text-align: center;
        width: 100%;
    }

    .name-hero{
        color: aliceblue;
    }
    

}

@media only screen and (min-width: 770px)  {
    
    .none {
        display: none; 
    }
    
    .name-hero {
        display: none; 
    }
    
}